footer {
    background: var(--primary-color);
    margin-top: 32px;

    .footer__top {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        padding: 32px 0;

        > div:not(div:first-child) {
            margin-top: 64px;
        }

        h2 {
            font: 500 24px "Poppins", sans-serif;
            margin-bottom: 24px;
            line-height: 22px;
        }

        .footer__top__info {
            img {
                width: 164px;
                margin-bottom: 16px;
            }

            p {
                width: 75%;
            }
        }

        .footer__top__menu {
            ul {
                list-style: inherit;

                li {
                    margin-bottom: 6px;
    
                    a {
                        color: var(--quaternary-color);
                    }
                }
            }
        }

        p {
            margin-bottom: 6px;
        }
    }
    
    .footer__bottom {
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--secondary-color);
    
        a {
            font-size: 14px;
            margin: 16px 0;
        }
    
        a, 
        a:visited {
            color: var(--quaternary-color);
    
            span,
            svg {
                color: var(--tertiary-color);
            }
        }
    
        div {
            display: flex;
            align-items: center;
    
            svg {
                margin-left: 6px;
            }
        }
    }
}
