:root {
    --primary-color: #2D2424;
    --secondary-color: #5C3D2E;
    --tertiary-color: #B85C38;
    --quaternary-color: #E0C097;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: var(--quaternary-color);
}

body, 
input, 
button {
    font: 400 16px 'Roboto', sans-serif;
}

a, 
a:visited {
    color: var(--secondary-color);
    text-decoration: none;
}
