:root {
    --primary-color: #2D2424;
    --secondary-color: #5C3D2E;
    --tertiary-color: #B85C38;
    --quaternary-color: #E0C097;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    color: var(--quaternary-color);
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body, 
input, 
button {
    font: 400 16px 'Roboto', sans-serif;
}

a, 
a:visited {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}