header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
    background: var(--quaternary-color);

    img {
        width: 164px;
    }

    a {
        margin-bottom: 32px;
    }
    
    nav {
        width: 100%;
        max-width: 540px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;

        a {
            font-size: 18px;
        }
    }
}
