#home {
    h1 {
        font: 500 32px "Poippins", sans-serif;
        color: var(--secondary-color);
        text-align: center;
        margin: 48px 0;
    }
    
    .banner {
        background: var(--primary-color);
        text-align: center;
    }

    .info-card__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        a {
            &:first-child {
                justify-self: end;
                margin-right: 32px;
            }

            &:last-child {
                justify-self: start;
                margin-left: 32px;
            }
        }
    }

    .info-section {
        background: #DBD0C0;
        margin: 64px 0;
        padding: 32px 0;

        h2,
        p {
            color: #2D2424;
        }

        h2 {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            margin-bottom: 8px;
        }
    }
}