#home {
    .container {
        h1 {
            color: var(--secondary-color);
            font-size: 32px;
            margin: 48px 0;
            text-align: center;
        }
    }

    .info-card__flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            &:first-child {
                margin-right: 32px;
            }

            &:last-child {
                margin-left: 32px;
            }
        }
    }

    .info-section {
        background: #DBD0C0;
        margin: 64px 0;
        padding: 32px 0;

        @media screen and (max-width: 1024px) {
            padding: 32px 16px;
        }

        h2,
        p {
            color: #2D2424;
        }

        h2 {
            margin-bottom: 8px;
        }

        .container {
            .info-section__bottom {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 32px;

                .info-section__address {
                    display: flex;
                    flex-direction: column;
                }

                .info-section__business-hours {
                    margin: 0 auto;
                }

                p {
                    width: 100%;
                }

                strong {
                    color: var(--primary-color);
                    font-size: 20px;
                }

                p {
                    margin-top: 4px;
                }

                iframe {
                    margin-top: 8px;
                }
            }
        }
    }

    .instagram {
        section {
            @media screen and (max-width: 1024px) {
                padding: 0 32px;
            }
        }
    }
}
