#home {
    h1 {
        font-size: 32px;
        font-weight: 500;
        color: var(--secondary-color);
        text-align: center;
        margin: 48px 0;
    }
    
    .banner {
        img {
            width: 100%;
        }
    }

    .info-card__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        a {
            &:first-child {
                justify-self: end;
                margin-right: 32px;
            }

            &:last-child {
                justify-self: start;
                margin-left: 32px;
            }
        }
    }

    .info-text {
        background: #DBD0C0;
        margin: 64px 0;

        p {
            color: #2D2424;
        }
    }
}