

.info-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 256px;
    width: 256px;
    border-radius: 8px;
    box-shadow: 0 0 6px #000;

    p {
        grid-row-start: 2;
        align-self: center;
        justify-self: center;
        font: 500 18px "Poppins", sans-serif;
        color: var(--quaternary-color);
        background: var(--tertiary-color);
        padding: 8px 48px;
        border-radius: 8px;
        text-transform: uppercase;
        margin-top: 32px;
    }
}