#products {
    .info-card__flex {
        display: flex;
        justify-content: center;
        margin: 64px 0;

        a {
            &:first-child {
                margin-right: 32px;
            }

            &:last-child {
                margin-left: 32px;
            }
        }
    }
}