.social-float {
    position: fixed;
    right: -194px;

    ul {
        li {
            svg {
                margin-right: 14px;
            }

            a {
                align-items: center;
                border-radius: 4px;
                color: #fff;
                display: flex;
                font: 400 16px "Poppins", sans-serif;
                padding: 6px 14px;
                transition: all 0.25s ease-in-out;

                &:hover {
                    transform: translateX(-194px);
                }
        
                &.whatsapp {
                    background: #25D366;
                }
        
                &.instagram {
                    background: #F56040;
                }
        
                &.facebook {
                    background: #4267B2;
                }
            }
        }
    }
}